.pokeLine {
    border: 1px yellow solid;
    border-radius: 5px;
    color: grey;
    font-family: Verdana;
    margin-top: 10px;
    padding-left: 10px;
}

.pokeLineBlue {
    border: 1px blue solid;
    border-radius: 5px;
    color: grey;
    font-family: Verdana;
    margin-top: 10px;
    padding-left: 10px;
}

.pokeLine td {
    width: 150px;
    height: 30px;
    font-size: 12px;
}

.pokeLineBlue td {
    width: 150px;
    height: 30px;
    font-size: 12px;
}

.poke {
    display: inline;
}

.big {
    text-transform: capitalize;
}