.wrap {
    background-color: rgb(216, 27, 27);
    width: 100%;
    height: 100px;
}

.logo {
    width: 200px;
    padding-left: 50px;
    padding-top: 15px;
}

.document {
    font-size: 20px;
    color: white;
    text-decoration: none;
    float: right;
    position: relative;
    top: 35%;
    right: 5%;
}